<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Edit Employe</title>

</head>
<body>

<section layout:fragment="body" class="py-2">
    <div th:if="${message}" th:class="${'alert ' +alertClass+' alert-dismissible fade show'}" role="alert">
        <p class="fw-bold" th:text="${message}"></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${message2}" th:class="${'alert ' +alertClass+' alert-dismissible fade show'}" role="alert">
        <p class="fw-bold" th:text="${message2}"></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="container  mt-4 mb-4 shadow-lg rounded p-4 " >
        <div class="d-flex flex-column align-items-center bg-white p-2">
            <div class="mb-2">
                <h2 class="text-primary">Modifier l'employé :</h2>
            </div>
            <div class="container-fluid">
                <form class="p-6" method="POST" th:action="@{/UpdateEmploye/{emp_id}(emp_id=${employe.getId_emp()})}" th:object="${employe}">
                    <div class="mb-2 form-group">
                        <label for="id_emp" class="form-label fw-bold">Identifiant :</label>
                        <input  type="text" th:field="*{id_emp}" class="form-control" id="id_emp"  readonly>
                    </div>
                    <div class="mb-2 form-group">
                        <label for="nom" class="form-label fw-bold">Nom :</label>
                        <input  required type="text" th:field="*{nom}" class="form-control" id="nom" >
                        <p th:if="${#fields.hasErrors('nom')}" class="text-danger" th:errors="*{nom}"></p>
                    </div>
                    <div class="mb-2 form-group">
                        <label for="sal" class="form-label fw-bold">Salaire :</label>
                        <input  required type="text" th:field="*{salaire}" class="form-control" id="sal" >
                        <p th:if="${#fields.hasErrors('salaire')}" class="text-danger" th:errors="*{salaire}"></p>
                    </div>
                    <div class="mb-2 form-group">
                        <label for="dep" class="form-label fw-bold"> Département</label>
                        <select required name="id_dept" class="form-select" id="dep">
                            <option value="" disabled selected hidden> Selectionnez un département </option>
                            <option  th:each="dep :${departements}" th:text="${dep.getNom_dept()}"
                                     th:value="${dep.getId_dept()}"
                                     th:selected="${((employe.getRef_dep())?.getId_dept())== dep.getId_dept()}"> </option>
                        </select>
                    </div>
                    <div class="mt-4 mb-2 d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn btn-success btn-lg" data-bs-dismiss="modal">Modifier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


</body>
</html>